<%- include('partials/header') %>

    <body>
        <%- include('partials/navBar') %>
            <div class="container">
                <hr>
                <h1>Perguntas</h1>
                <hr>
                <a href="/perguntar" class="btn btn-primary btn-stile-perguntar mb-5">Perguntar</a>
                <% perguntas.forEach(pergunta=>{%>
                    <div class="card mb-2 card-stile">
                        <div class="card-body m-2">
                            <h3><%= pergunta.titulo %></h3>
                        </div>
                        <div class="card-footer">
                         <a href="/pergunta/<%= pergunta.id %>">
                             <button class="btn btn-stile btn-primary">Responder</button>
                         </a> 
                        </div>
                    </div>
                    <% }) %>
            </div>

    </body>
    <%- include('partials/footer') %>